<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sottocorp.materialdesignnavdrawer" >

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.sottocorp.materialdesignnavdrawer.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.WithNavDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.AccountActivity"
            android:label="@string/toolbar_title_about"
            android:parentActivityName="com.sottocorp.materialdesignnavdrawer.activities.MainActivity">
        </activity>

        <activity android:name=".activities.HelpAndFeedbackActivity"
            android:label="@string/toolbar_title_about"
            android:parentActivityName="com.sottocorp.materialdesignnavdrawer.activities.MainActivity">
        </activity>

        <activity android:name=".activities.AboutActivity"
            android:label="@string/toolbar_title_about"
            android:parentActivityName="com.sottocorp.materialdesignnavdrawer.activities.MainActivity">
        </activity>

    </application>

</manifest>
